<!-- <ul>
    <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/News" routerLinkActive="active">News</a></li>   
    <mat-tab label="Tab 3"><a routerLink="/Analytics" routerLinkActive="active">Analytics</a></mat-tab>
    <mat-tab label="Tab 4"><a routerLink="/Portfolio" routerLinkActive="active">Portfolio</a></mat-tab>
    <mat-tab label="Tab 5"><a routerLink="/Help" routerLinkActive="active">Help</a></mat-tab>
    <mat-tab label="Tab 6"><a routerLink="/Language" routerLinkActive="active">Language</a></mat-tab>

</ul> -->
<mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
            <a routerLink="/Home" routerLinkActive="active">Home</a>
      </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a routerLink="/News" routerLinkActive="active">News</a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a routerLink="/Analytics" routerLinkActive="active">Analytics</a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a routerLink="/Portfolio" routerLinkActive="active">Portfolio</a>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <a routerLink="/Help" routerLinkActive="active">Help</a>
        </ng-template>
    </mat-tab>
  </mat-tab-group>
  


