<!DOCTYPE html>
<div class="News-Heading">
    <h2>News:</h2>
</div>
<div class="top-body">
    <h2>Stocks:</h2>
    <div class="body-stocks">
        here are the hot topics of stocks today.
        in other news NSE has seen a disastrous day today with stocks falling.
    </div>
</div>
<div class="bottom-body">
    <h2>Cryptocurrencies:</h2>
    <div class="body-stocks">

        <div>
            <p>lorem ipsum, senelskdflaskdffllksdjfls,l skdjflkfeklh l,dhf lkadhfleiqolsdkw.qkasdf </p>
        </div>

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><a href="#" alt="link to contact us">Contact Us</a></div>
    <div class="panel-heading"><a href="#" alt="link to contact us">About</a></div>
</div>