<!DOCTYPE html>
<div class="News-Heading">
    <h2>News:</h2>
</div>
<div class="top-body">
    <h2>Stocks:</h2>
    <div class="body-stocks">
        here are the hot topics of stocks today.
        in other news NSE has seen a disastrous day today with stocks falling.
    </div>
</div>
<div class="bottom-body">
    <h2>Cryptocurrencies:</h2>
    <div class="body-stocks">
        <script>
            (function() {
              var cx = '007993236237825622392:x5cvclqmncg';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();
        </script>
          <div class="gcse-searchbox" ><input type="search" name="holla"></div>
    </div>
</div>
<form>
        <div class="form-group">
        <label for="firstName">first number</label>
        <input required 
               pattern="[0-9]*"
               minlength="2"
               maxlength="10"
               ngModel
               name="firstName"
               #firstName='ngModel'
               class="form-control">
               <div class="alret alert-danger"
                          *ngIf="firstName.touched && !firstName.valid">
                <div *ngIf="firstName.errors.required">valid number is required</div>
               </div>
               
        </div>
        <div class="form-group">
          <label for="lastNumber">lastNumber</label>
          <input required 
                 minlength="4"
                 ngModel 
                 name="lastNumber"
                 #lastNumber="ngModel"
                 class="form-control">
        </div>
        <div class="alert alert-danger" 
             *ngIf="lastNumber.touched && !lastNumber.valid">
              <div *ngIf="lastNumber.errors.required">valid number required</div>
            </div>
        <button class="btn btn-primary" (click)="lastNumber.value*firstNumber.value">submit</button>
    </form>
<div class="panel panel-primary">
    <div class="panel-heading"><a href="#" alt="link to contact us">Contact Us</a></div>
    <div class="panel-heading"><a href="#" alt="link to contact us">About</a></div>
</div>