.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;

  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    
  }
  #table{
    margin: 15px;
  }
  h1{
    text-shadow: 1px 0px 3px rgb(54, 54, 54);
  }