<div id="table"><h1>Table:</h1>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="customer">
  
  
      <!-- Position Column -->
      <ng-container matColumnDef="ID">
        <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.customerID}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> first name </mat-header-cell>
        <mat-cell *matCellDef="let customer"> {{customer.firstName}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="lastName">
        <mat-header-cell *matHeaderCellDef> last name </mat-header-cell>
        <mat-cell *matCellDef="let customer">{{customer.lastName}} 
          <span><button (click)="deleteRow()">delete</button></span></mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="columnDisplay"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnDisplay;"></mat-row>

    </mat-table>
  </div>
  </div>
 