<div class="cards"><app-user-cards [card]='0'></app-user-cards></div>
<div class="cards"><app-user-cards [card]='1'></app-user-cards></div>
<div class="cards"><app-user-cards [card]='2'></app-user-cards></div>
<div class="cards"><app-user-cards [card]='2'></app-user-cards></div>
<div class="cards"><app-user-cards [card]='2'></app-user-cards></div>
<div class="cards"><app-user-cards [card]='2'></app-user-cards></div>
<div>
  <input type="text" [(ngModel)]="x">
  <p>{{x}}</p>
</div>
<div class="panel panel-primary">
  <div class="panel-heading"><a href="#" alt="link to contact us">Contact Us</a></div>
  <div class="panel-heading"><a href="#" alt="discription about us">About</a></div>
</div>